body
{
    background-color: honeydew;
    margin: 0px;
}

header
{
    width: 100%;
    height: 180px;
    background-color: #DB1803;
}

header img
{
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 10px;
}

header nav
{
    float: right;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    /*height: 100px;*/
    text-align: left;
    background-color: yellowgreen;
    border-radius: 25px;
}


header nav ul
{
    list-style: none;
    padding: 10px;
    margin: 0;
}



header nav ul li a
{
    text-decoration: none;
    color: black;
    padding: 20px;
}

header nav ul li
{
    display: inline-block;
}


header nav ul li a:hover
{
    color: red;
}

#flex
{
    display: flex;
    align-items: stretch;
}

main
{
    clear:both;
    float: left;
    width: 70%;
    text-align: justify;
    background-color: #BED401;
    opacity: 0.8;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    order: 1;
    min-height: 800px;
}

main form input
{
    display: block;
    margin: 30px 15px 15px 50px;

}

input[type='email']:valid
{
    color: green;
}


input[type='radio']
{
    display: inline-block;
}

main form textarea
{
    margin: 15px 15px 15px 50px;
}

main form textarea::placeholder
{
    padding: 10px;
}


article
{
    padding: 10px;
}

article:first-child h1
{
    color: blue;
}

main form select
{
    display: block;
    margin: 15px 15px 15px 50px;
}


main form select option
 {
     font-size: 1.2em;
 }

main input:valid+label:after
{
    content: "+";
}

main input:invalid+label:after
{
    content: "-";
}

main input:required+label:after
{
    content: "*";
}

article:nth-child(2)
{
    color: red;
    font-weight: bold;
}

article:last-child
{
    color: green;
}

h1:before

{
    content: '\+';
    color: green;
}

aside
{
    float: right;
    width:30% ;
    background-color:#DD8208;
    opacity: 0.8;
    flex-grow: 1;
    order: 99;
    text-align: center;
    padding: 20px;
}

footer
{
    clear:both;
    background-color: #DB4F08;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
}
